<% provide(:title, 'Admin') %>
<div class="bluebox info-page">
 <div class="tanbox" style="padding:2%">

  HERE IS WHERE YOU ADMINISTRATE THINGS!!!!!!!
  <div class="abstract" style="display:inline;float:right;">
  <%= link_to "Sign out", logout_path, method: "delete", :class => "admin-button" %>
  <%= link_to "Index", admin_index_path, :class => "admin-button" %>
  
  <%= link_to "Account", edit_user_path(current_user), :class => "admin-button" %>
  <%= link_to "New Post", new_post_path, :class => "admin-button" %>
  <%= link_to "Upload Picture", admin_pictures_new_path, :class => "admin-button" %>
  </div>
 </div>
</div>
