 <% provide(:maps, true) %>
 <style>
  #map_canvas {
    height: 500px;
    margin: 0 auto;
    float: none;
  }
</style>

<div class="bluebox info-page">
 <div class="tanbox info-body row container" style="margin-left:0;width:auto;">
    <div id="map_canvas" class="span9 gmap"></div>
 </div>
</div>

<script>
      var map;

      $(document).ready(function() {
        var map_canvas = document.getElementById('map_canvas');
        var marker;
        var map_options = {
          center: new google.maps.LatLng(<%= MAPS_DEFAULT_LAT %>, <%= MAPS_DEFAULT_LNG %>),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.HYBRID
        }
        map = new google.maps.Map(map_canvas, map_options)
        
        var iconBase = window.location.protocol+"//"+window.location.host+"/assets/";

        <% @locations.each do |l| %>
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(<%= l.latitude %>, <%= l.longitude %>),
            map: map,
            icon: iconBase + '<%= l.icon %>',
            title: '<%= l.name %>'
          <% if l.post %>
            ,animation: google.maps.Animation.DROP
          });

          google.maps.event.addListener(marker, 'click', function() {
            new google.maps.InfoWindow(
            { content: '<a href="<%= public_post_path(l.post) %>" class="map_link"> <%= l.post.title %></a>',
              size: new google.maps.Size(50,50)
            }).open(map,this) 
          });
          <% else %>
          });

           google.maps.event.addListener(marker, 'click', function() {
            new google.maps.InfoWindow(
            { content: '<span class="map_label"><%= l.name %></span>',
              size: new google.maps.Size(50,50)
            }).open(map,this)
          });
          <% end %>
        <% end %>
      });
</script>
