 <% provide(:maps, true) %>
     <style>
      #map_canvas {
        width: 625px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
      }
    </style>

<div class="bluebox info-page">
 <div class="tanbox info-body">
       <div id="map_canvas"></div>
 </div>
</div>

<script>
    var map;
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var marker;
        var map_options = {
          center: new google.maps.LatLng(34.89930, 132.07978),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(map_canvas, map_options)
              var iconBase = window.location.protocol+"//"+window.location.host+"/";


        <% @locations.each do |l| %>
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(<%= l.latitude %>, <%= l.longitude %>),
            map: map,
            icon: iconBase + '<%= l.icon %>',
            title: '<%= l.name %>'
          <% if l.post %>
            ,animation: google.maps.Animation.DROP
          });

          google.maps.event.addListener(marker, 'click', function() {
            new google.maps.InfoWindow(
            { content: '<a href="<%= public_post_path(l.post) %>" class="map_link"> <%= l.post.title %></a>',
              size: new google.maps.Size(50,50)
            }).open(map,this) 
          });
          <% else %>
          });

           google.maps.event.addListener(marker, 'click', function() {
            new google.maps.InfoWindow(
            { content: '<span class="map_label"><%= l.name %></span>',
              size: new google.maps.Size(50,50)
            }).open(map,this)
          });
          <% end %>
        <% end %>
      }
      google.maps.event.addDomListener(window, 'load', initialize);
</script>
