<div class="post tanbox">
    <div class="post-head">
        <div class="bluebox post-image">
            <%= image_tag("shimane_flag.gif", :size => "100%;") %>
        </div>
        <%= link_to post.title, public_post_path(post), :class => "post-title"%>
	<p class="post-date"><br><%= post.created_at.to_s(:pretty) %>, in <%= link_to post.category, category_path(post.category) %></p>
	<% if @login %>
	<div class="abstract" style="display:inline;float:right;">
          <%= link_to 'Delete', post, method: :delete, :class => "admin-button", data: { confirm: "You sure?" } %>
	  <%= link_to 'Edit', edit_post_path(post), :class => "admin-button" %>
	</div>
        <% end %>
    </div>

    <div class="post-body" style="text-align:left;">
        <hr class="end-post-section"/>
        <% if @shorten_posts %>
        <div><%= post.shortened_content_html.html_safe%></div>
        <% else %>
        <div><%= post.content_html.html_safe %></div>
        <% end %>
	<hr class="end-post-section"/>
    </div>
    <p class="post-tags">
        <%= raw post.tag_list.map { |tag| link_to(tag, tag_path(tag), :class => "tag") }.join('  ') %> <!-- this might be clearer in a do each block, and maybe with a post class instance method -->
    </p>
</div>
