<% provide(:title, @title) %>
<% provide(:page_specific_javascript, 'posts') %>
<% provide(:maps, true) %>


<div>
  <div class="bluebox info-page" style="margin-bottom:2%;">
    <%= form_for(@post) do |f| %>
    <%= render 'layouts/error_messages', :item => @post %>
    <div style="float:left;width:50%;">
          <%= f.label :title, :class=>"edit-label" %>

          <%= f.text_field :title, :disabled => !@edit_post %>

    </div>

    <button id="location_button" type="onclick" style="float:right;"onclick="openLocation(false); return false;">Add Location</button>
    <div id="location_select" class="tanbox" style="float:right;width:725px;height:400px; display:none;">
    	<div style="padding-left: 5px; padding-top: 15px; width:90px; float:left">
    		<button type="onclick" style="width:70px" onclick="saveLocation(); return false;">Save Location</button>
    		<br/>
    		<span id="lat" style="font-size:10px;">No latitude saved</span>
    		<br/>
    		<span id="lng" style="font-size:10px;">No longitude saved</span>
    		<br/>
    		<button type="onclick" style="width:70px" onclick="revertLocation(); return false;">Go To Saved</button>
    		<br/><br/><br/>
    		<br/><br/><br/>
    		<br/><br/><br/>
    		<button type="onclick" style="width:70px" onclick="cancelLocation(); return false;">Cancel</button>
    	</div>
    	<div id="map_select_canvas" style = "height:350px; width:600px; margin-right:25px; float:right; margin-top:25px;" class="gmap">
    	<input type="text" id="search_address" value=""/>
			<button type="onclick" onclick="search(); return false;">Search</button>
    	</div>
    </div>
    <div id="location_form">
    <%= f.fields_for :location do |ff| %>
	    <%= ff.hidden_field :name %>
	    <%= ff.hidden_field :latitude %>
	    <%= ff.hidden_field :longitude %>
	<% end %>
	</div>


    <div style="clear:both;">
                <%= f.label :tag_list, "Tags (separated by commas)", :class =>"edit-label" %>
                 <%= f.text_field :tag_list, :style =>"width:99%;" %>
		<%= f.hidden_field :content_html %>
		<%= f.label :category_list, "Category", :class =>"edit-label", :style => "float:right;"%>
		<label for="wmd-input" class="edit-label">Body</label>
        <div id="wmd-button-bar">
      	  <%= f.select :category_list, options_for_select(category_select_options), {}, {:style => "float:right;" }%>
        </div>
    </div>
        <%= f.text_area :content_markdown, :class => "wmd-input", :id => "wmd-input" %>
    </div>
     	<div class="bluebox span8" id ="post-wrapper-preview">
			<div class="post tanbox">
			    <div class="post-head">
			        <div class="bluebox post-tab">
			            <%= image_tag("shimane_flag.gif", :size => "100%;") %>
			        </div>
			    <p class="post-title" id="title"><%= @post.title %></p>
			    <p class="post-date"><br>
			    	<% if @post.category %>
			    	  <%= @post.created_at ? @post.created_at.to_s(:pretty) : Time.zone.now.to_s(:pretty) %>, in <%= link_to @post.category.titleize, search_category_path(@post.category), :id => "category" %>
			    	<% else %>
			    	  <%= @post.created_at ? @post.created_at.to_s(:pretty) : Time.zone.now.to_s(:pretty) %>, in <a href="/category/" id="category"></a>
			    	<% end %>
			    </p>
			    </div>

			    <div class="post-body" style="text-align:left;">
			        <hr class="end-post-section"/>
			        <div id="wmd-preview"></div>
				<hr class="end-post-section"/>
			    </div>
			    <p class="post-tags" id="tags">
			    	<%= raw @post.tag_list.map { |tag| link_to(tag.titleize, search_tag_path(tag), :class => "tag") }.join('  ') if @post.tag_list%>
			    </p>
			</div>
		</div>
</div>
    <div class="bluebox content span3" style = "padding: 2% 0; display:inline; float:right;">
        	<%= f.submit @btn, :class => "submit-btn", :value => "Submit post", :style => "width:80%" %>
        	<input type="button" class="submit-btn" value="Save as draft" style="width:80%;margin-top:2%;"/>
    </div>
  <% end %>

<script>
var pictures_large = <%= raw Picture.all.map {|p| p.image.url(:large, timestamp: false)}.each_slice(PicturesController.select_slice).to_json %>
var pictures_medium = <%= raw Picture.all.map {|p| p.image.url(:medium, timestamp: false)}.each_slice(PicturesController.select_slice).to_json %>
var pictures_thumb = <%= raw Picture.all.map {|p| p.image.url(:thumb, timestamp: false)}.each_slice(PicturesController.select_slice).to_json %>
var pictures_name = <%= raw Picture.all.map {|p| p.name}.each_slice(PicturesController.select_slice).to_json %>
</script>


