<% provide(:title, @title) %>
<% provide(:page_specific_javascript, 'posts') %>


<div>
  <div class="bluebox info-page" style="margin-bottom:2%;">
    <%= form_for(@post) do |f| %>
    <%= render 'layouts/error_messages', :item => @post %>
    <div>
          <%= f.label :title, :class=>"edit-label" %>
          <%= f.text_field :title, :disabled => !@edit_post %>
       <%= f.label :tag_list, "Tags (separated by commas)", :class =>"edit-label" %>
      <%= f.text_field :tag_list, :style =>"width:98.5%;" %>

    </div>
		<%= f.hidden_field :content_html %>
		<%= f.label :category_list, "Category", :class =>"edit-label", :style => "float:right;"%>
		<label for="wmd-input" class="edit-label">Body</label>
        <div id="wmd-button-bar">
      	  <%= f.select :category_list, options_for_select(category_select_options), {}, {:style => "float:right;" }%>
        </div>
        <%= f.text_area :content_markdown, :class => "wmd-input", :id => "wmd-input" %>
    </div>
    <div class="bluebox content span3" style = "padding: 2% 0;">
        	<%= f.submit @btn, :class => "submit-btn", :value => "Submit post", :style => "width:80%" %>
        	<input type="button" class="submit-btn" value="Save as draft" style="width:80%;margin-top:2%;"/>
    </div>
  <% end %>
     	<div class="bluebox span8 offset1" id ="post-wrapper-preview">
			<div class="post tanbox">
			    <div class="post-head">
			        <div class="bluebox post-image">
			            <%= image_tag("shimane_flag.gif", :size => "100%;") %>
			        </div>
			    <p class="post-title" id="title"><%= @post.title %></p>
			    <p class="post-date"><br>
			    	<% if @post.category %>
			    	  <%= @post.created_at ? @post.created_at.to_s(:pretty) : Time.zone.now.to_s(:pretty) %>, in <%= link_to @post.category.titleize, search_category_path(@post.category), :id => "category" %>
			    	<% else %>
			    	  <%= @post.created_at ? @post.created_at.to_s(:pretty) : Time.zone.now.to_s(:pretty) %>, in <a href="/category/" id="category"></a>
			    	<% end %>
			    </p>
			    </div>

			    <div class="post-body" style="text-align:left;">
			        <hr class="end-post-section"/>
			        <div id="wmd-preview"></div>
				<hr class="end-post-section"/>
			    </div>
			    <p class="post-tags" id="tags">
			    	<%= raw @post.tag_list.map { |tag| link_to(tag.titleize, search_tag_path(tag), :class => "tag") }.join('  ') if @post.tag_list%>
			    </p>
			</div>
		</div>
</div>

<script>
var pictures_large = <%= raw Picture.all.map {|p| p.image.url(:large, timestamp: false)}.to_json %>
var pictures_medium = <%= raw Picture.all.map {|p| p.image.url(:medium, timestamp: false)}.to_json %>
</script>


