 <div class="row body">
  <div id="posts" class="span8 bluebox">
    <%= render @posts %>
    <%= link_to('Next page', root_path(:page => @posts.next_page), :class => 'posts-text') if @posts.next_page %>
    <%= link_to('Previous page', root_path(:page => @posts.previous_page), :class => 'posts-text') if @posts.previous_page %>
  </div>
  <!--end posts-->
 
  <div id="sidebar" class="span4">
  	<%= render 'layouts/sidebar' %>
  <!--end sidebar-->   
  </div>
 </div>
 <!--this adds an inview event (which fires on in or out of view, hence the needed if (!visible)) to the get more posts link. also changes the link at the bottom to be autloady if we have Javascript-->  
 <script>
  $('.posts-text').remove();
  <% if @posts.next_page %>
    $('#posts').append('<p id="more-posts" data-posts="<%= root_path(:page => @posts.next_page) %>">Loading more posts...</p>');
  <% end %>
  $(function() {
  return $('#more-posts').on('inview', function(e, visible) { 
    if (!visible) {
      return;
    }
    return $.getScript($(this).attr('href'));
  });
});
</script>
