  <div class="span8 bluebox" id ="post-wrapper">
  	<div id="posts" class="abstract">
      <%= render @posts %>
      <% if @posts.empty? %>
        <div class = "no-results tanbox">
          <p> <%= @empty_msg %> </p>
        </div>
      <% end %>
    </div>
    <div id="paginate-wrapper" style="text-align: center">    
      <%= will_paginate @posts, id: "will-paginate" %>
    </div>
  </div>
  <!--end posts-->
 
 <%= render 'layouts/sidebar' %>


 <!-- subscription stuff -->

  
 <!-- bad practice to have this in the page, I know, but importing it as a script was causing back-button related quirks -->   
 <script> 

 /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = '<%= DISQUS_SHORTNAME %>'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());

 //infinite scroll
  $('#will-paginate').hide();
  <% if @posts.next_page %>

  var d = document, w = window, documentElement = d.documentElement, loader = $('.post-head:eq(-2)'), loading = false;
  
  function getViewportOffsetTop() {
    return w.pageYOffset || documentElement.scrollTop || d.body.scrollTop;
  }

  function belowLoader() {
    if ((getViewportOffsetTop() >= loader.offset().top) && !loading) { //this fires as soon as the viewport is below the top of the loader element
      loading = true;
      return $.getScript(loader.attr('data-posts'));
    }
  }

    $('#paginate-wrapper').append('<p id="more-posts" style="color:#ffd; font-size:18px;">Loading more posts...</p>');
    loader.attr('data-posts', '<%= post_next_page_path(@posts) %>'); 
    var loaderNumber = self.setInterval(belowLoader, 250);
  <% end %>

 //subscriptions
   function openSubscribedWindow(html, text, clear){
    var subscribed = $('#subscribed')
    $('#subscribe-button').prop('disabled', true);
    if (subscribed.length > 0)
    {
      subscribed.slideUp(200, function(){
        $('#subscribe-button').prop('disabled', false); //problem when this is run the very first time
        this.remove()
      });
      subscribed.removeAttr('id');
      $("#subscribed-text").removeAttr('id');
    }
    else
    {
      setTimeout(function(){
        $('#subscribe-button').prop('disabled', false)}
        , 200)
    }
    $('#display').append(html);
    $("#subscribed-text").text(text);
    if (clear) $('#subscribe').val("");
    $("#subscribed").slideDown()
  }
  function closeSubscribedWindow(){
    var subscribed = $('#subscribed')
    subscribed.slideUp(200, function(){
      $('#subscribe-button').prop('disabled', false); //problem when this is run the very first time
      this.remove()
    });
    subscribed.removeAttr('id');
    $("#subscribed-text").removeAttr('id');
  }
</script>

