  <div class="span8 bluebox" id ="post-wrapper">
  	<div id="posts" class="abstract">
      <%= render @posts %>
      <% if @posts.empty? %>
        <div class = "no-results tanbox">
          <p> <%= @empty_msg %> </p>
        </div>
      <% end %>
    </div>
    <div id="paginate-wrapper" style="text-align: center">    
      <%= will_paginate @posts %>
    </div>
  </div>
  <!--end posts-->
 
 <%= render 'layouts/sidebar' %>
 <!--this adds an inview event (which fires on in or out of view, hence the needed if (!visible)) to the get more posts link. also changes the link at the bottom to be autloady if we have Javascript. the $(function()) is a way of using jquery to bind a function to be executed only once loading finishes. the selector including a comma adds our inview event to the
 loading posts texts AND to the second to last post-->  
 <script>
  $('#paginate-wrapper').remove();

  <% if @posts.next_page %>
    $('#post-wrapper').append('<p id="more-posts">Loading more posts...</p>');
    var loader = $('.post-head:eq(-2),#more-posts');
    loader.attr('data-posts', '<%= post_next_page_path(@posts) %>'); 
    loader.on('inview', function(e, visible) { 
        if (!visible) {
          return;
        }
        return $.getScript($(this).attr('data-posts'));
    });
  <% end %>
</script>
