  <div class="span8 bluebox" id ="post-wrapper">
  	<div id="posts" class="abstract">
      <%= render @posts %>
      <% if @posts.empty? %>
        <div class = "no-results tanbox">
          <p> <%= @empty_msg %> </p>
        </div>
      <% end %>
    </div>
    <div id="paginate-wrapper" style="text-align: center">    
      <%= will_paginate @posts, id: "will-paginate" %>
    </div>
  </div>
  <!--end posts-->
 
 <%= render 'layouts/sidebar' %>


 <!-- subscription stuff -->

  
 <!-- bad practice to have this in the page, I know, but importing it as a script was causing back-button related quirks -->
 <script> 

 //infinite scroll
  $('#will-paginate').hide();
  <% if @posts.next_page %>

  var d = document, w = window, documentElement = d.documentElement, loader = $('.post-head:eq(-2)'), loading = false;
  
  function getViewportOffsetTop() {
    return w.pageYOffset || documentElement.scrollTop || d.body.scrollTop;
  }

  function belowLoader() {
    if ((getViewportOffsetTop() >= loader.offset().top) && !loading) { //this fires as soon as the viewport is below the top of the loader element
      loading = true;
      return $.getScript(loader.attr('data-posts'));
    }
  }

    $('#paginate-wrapper').append('<p id="more-posts" style="color:#ffd; font-size:18px;">Loading more posts...</p>');
    loader.attr('data-posts', '<%= post_next_page_path(@posts) %>'); 
    var loaderNumber = self.setInterval(belowLoader, 250);
  <% end %>

 //subscriptions
   function openSubscribedWindow(text){
    $('#subscribed').slideUp(200, function(){
      this.remove()
    });
    $('#subscribed').removeAttr('id');
    $("#subscribed-text").removeAttr('id');
    $('#display').append('<div id="subscribed" class="subscribed bluebox"><div id="subscribed-inner" class="tanbox"><p id="subscribed-text"></p></div></div>');
    $('#subscribe').val("")
    $("#subscribed-text").text(text)
    $("#subscribed").slideDown()
  }
  function closeSubscribedWindow(){
    $("#subscribed").slideUp()
  }
</script>

