<% provide(:title, 'New Post') %>
<% provide(:page_specific_javascript, 'posts') %>

<div class="row">
  <div class="span12 bluebox">
    <%= form_for(@post) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>


      <div id="wmd-button-bar-post"></div>

	<textarea class = "wmd-input" id = "wmd-input-post" rows="4" cols="50"><%= @post.content_markdown %>
	</textarea>


      <%= f.submit "Post", class: "admin-button span2" %>
    <% end %>
  </div>
  		<div class="span8 bluebox" id ="post-wrapper" style="float:right;">
			<div class="post tanbox">
			    <div class="post-head">
			        <div class="bluebox post-image">
			            <%= image_tag("shimane_flag.gif", :size => "100%;") %>
			        </div>
			    <p class="post-title" id="title"><%= @post.title %></p>
				<p style="text-align:left;font-size:12px;color:black; position: relative; right: 60px; display: inline;"><br><%= Date.today.to_s(:pretty) %></p>
			    </div>

			    <div class="post-body" style="text-align:left;">
			        <hr class="end-post-section"/>
			        <div id="wmd-preview-post"></div>
				<hr class="end-post-section"/>
			    </div>
			  <!-- tags
			    <div class="post-tags">
			        <a href="#" class="tag">Programming</a>
			        <a href="#" class="tag">"Off by one" error</a>
			    </div>
			      -->
			</div>
		</div>
</div>



