<!DOCTYPE html>
<html>
  <head>
    <title><%= raw(full_title(yield(:title))) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag yield(:page_specific_javascript), "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
   <div id="display" class="container row">
   <%= render 'layouts/header' %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="row content">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <div class="footer" style="margin-top:12px;">
    <%= debug(params) if Rails.env.development? %>
    <%= debug(yield(:title)) if Rails.env.development? %>
    </div>
   </div>
  </body>
</html>
